@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--oscuro);
  font-size: 1rem; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

